.subjectify-body {
    width: 400px;
    --mdc-theme-primary: #3d5aff;
    --mdc-theme-secondary: #3d5aff;
    --mdc-theme-background: #F9F9F9;
    --mdc-theme-surface: #536dfe;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
    --mdc-theme-on-surface: #ffffff;
}

.subjectify-input {
    --mdc-theme-primary: #000000;
}

.subjectify-footer {
    font-size: 80%;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}